alembic
aniso8601
attrs
click
Flask
Flask-Cors
Flask-JWT-Extended
Flask-Migrate
flask-restx
Flask-SQLAlchemy
itsdangerous
Jinja2
jsonschema
Mako
MarkupSafe
psycopg2-binary
PyJWT
pyrsistent
python-decouple
pytz
six
SQLAlchemy
typing_extensions
Werkzeug
